{% extends "base.html" %}

{% block page_title %} Home {% endblock page_title %}

{% block content%}
    <div class="container mx-auto bg-gray-400 w-full h-50vh mt-5 rounded-xl mt-32 mb-24 bg-center" style="background-image:url(https://images.unsplash.com/photo-1534274867514-d5b47ef89ed7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=970&q=80)">

    </div>

    {% for room in rooms %}
        <h1>
            <a href="{% url "rooms:detail" room.pk %}">
                {{room.name}} / ${{room.price}}
            </a>
        </h1>
    {% endfor %}

    <h5>
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    </h5>



{% endblock content %}
