@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-8 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-20 px-5;
  }
  &:hover {
    @apply border-gray-600;
  }
}

.btn {
  @apply w-full text-center rounded-sm py-5 font-light text-lg;
}

input {
  @apply w-full text-center rounded-sm py-5 font-light text-lg text-left border border-gray-600 p-5 mb-3;
  &:hover {
    @apply outline-none border-teal-500;
  }
}

form {
  .input {
    @apply mb-3 w-full;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  5% {
    opacity: 1;
    transform: translateY(20px);
  }
  95% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.message {
  animation: messageFadeIn 3s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}
@tailwind utilities;
